FRONTEND_URL= your-frontend-url #replace with your frontend url
JWT_SECRET= jwt-secret # Replace with your JWT secret
MONGO_URI= mongodb-connection-string # Replace with your MongoDB connection string
NODE_ENV= development # "production" for deployment
PORT= 8002 # Or preferred avaliable port