@import "tailwindcss";

#root {
  /* max-width: 1560px; */
  margin: 0 auto;
  padding: 0.3rem;
  text-align: center;
  background-color: color-mix(
      in hsl shorter hue,
      color percentage,
      color percentage
    )
    white;
}
